body {
    font-family: "Roboto",sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
background-color: #fff;
}
button {
    cursor: pointer;
    border: none;
    outline: transparent;
   }
a {
    text-decoration: none;
    outline: transparent;
}
ul, ol {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
padding-left: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    mask-type: 32px;
    }
    input {
        outline: transparent;
    }
    .container {
        max-width: 320px;
        padding-left: 16px;
        padding-right: 16px;
        margin: 0 auto;
    }
    .section {
        padding-top: 96px;
        padding-bottom: 96px;
    } 
    .header-page {
        position: sticky;
        z-index: 999;
        top: 0;
        left: 0;
        background-color: #fff;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
     border-bottom: 1px solid #e7e9fc;

    }
    
    .nav-list-header {
        display: none;
     
}
.address {
    display: none;
    font-style: normal;
    align-items: center;
    margin-left: auto;
    }
    
    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
.logo {
    font-family: Raleway,sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    }
    .header-container .logo {
        margin-right: 76px;
        padding: 17px 0;
    }
.logo span {
    color: #2e2f42;
}
.main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin: auto;
    text-align: center;
    margin-bottom: 72px;

}
.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg-image-mob@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #2e2f42;
    max-width: 320px;
    margin: auto;
    padding: 72px 0;
}

.title-btn {  
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    min-width: 169px;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
margin: 0 auto;
color: #fff;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.title-btn:hover,
.title-btn:focus {
    background-color: #404BBF;
}


.first-section {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}
.section-title {
    font-weight: 700; 
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
    color: #2e2f42;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .benefits-list {
    display: flex;
    flex-direction: column;
    gap: 72px; 
}
.benefits-item {
    width: 100%;
} 
  .icon-section {
    display: none;
  }
  .benefits-title {
    line-height: 1.2;
}
.benefits-title-list {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2e2f42;
}
.benefits-info {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02;
    color: #434455;
}
.team-section {
    background-color: #F4F4FD;
}
.name-info {
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-list {
    width: 264px;
    border-radius: 0px 0px 4px 4px; 
    background-color: #ffffff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
     
}
.team-social-list .item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}
.team-social-list .item-link:hover,
.team-social-list .item-link:focus {
    background-color: #404BBF;
}
.section-team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;

}
.team-list-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
    color: #2e2f42;
}
.team-person-job {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
    color: #434455;

}
.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
    }
.prof-box {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-titles {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2e2f42;
}
.portfolio-item-overlay {
position: relative;
overflow: hidden;
}
.portfolio-text-overlay {
position: absolute;
top: 0;
left: 0;
background-color: #4d5ae5;
color: #F4F4FD;
width: 100%;
height: 100%;
padding: 40px 32px;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}
.portfolio-item:hover .portfolio-text-overlay {
    transform: translateY(0);
}
.portfolio-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.portfolio-item {
    width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-color: #f4f4fd;
}

.whole-footer {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #2e2f42;
    }
.footer-container {
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.logo .footer-logo {
    color: #F4F4FD;
    
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
.footer-content {
    width: 100%;

}
.whole-footer .logo {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}
.media-text {
    display: flex;
    justify-content: center;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 16px;
}
.footer-social-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
   .footer-social-list .item-link:hover,
   .footer-social-list .item-link:focus {
    background-color: #31d0aa;
   }
.icon {
    fill: #F4F4FD;
}

.footer-subscribe-text {
    text-align: center;
    color: #fff;
    font-weight: 500;
    margin-bottom: 16px;
}
.footer-subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.subscribe-form-input {
    display: flex;
    width: 264px;
    height: 40px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
    border: 1px solid rgba(255 255 255 / 0.3);
    background-color: transparent;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    color: #fff;
}
.footer-subscribe-form .subscribe-form-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04m;
    color: rgba(255 255 255 / 0.6);
}
.subscribe-button {
    display: flex;
    gap: 16px;
    align-items: center;
    height: 40px;
    min-width: 165px;
    justify-content: center;
    line-height: 1.5;
    border-radius: 4px;
    padding: 0px 24px; 
    font-weight: 500;
    letter-spacing: 0.04em;
    text-align: center;
    background: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #fff;
}
.subscribe-button:hover, 
.subscribe-button:focus {
    background-color: #404BBF;
    }
    .subscribe-button .subscribe-icon {
       fill: #fff;
}
.backdrop {
    position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 288px;
  border-radius: 4px;
  padding: 72px 16px 24px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .modal-close-btn {
    position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  padding: 0;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-close-btn:hover .modal-close-icon,
  .modal-close-btn:focus .modal-close-icon {
    fill: #fff;
  }
  .modal-window-title {
    font-weight: 500;
   text-align: center;
   margin-bottom: 16px;
  color: #2e2f42;
  }
  .modal-form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 34px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-form-input:hover,
.modal-form-input:focus {
  border-color: #4d5ae5;
}
.modal-form-label {
    display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  color: #8e8f99;
}
.modal-form-field-wrapper {
    margin-bottom: 8px;
  }
  .modal-form-field-wrapper-comments {
    margin-bottom: 16px;
  }
  .modal-form-input-wrapper {
    position: relative;
  }
  .modal-form-field-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-form-field-icon:hover,
  .modal-form-field-icon:focus {
    fill: #ffffff;
  }
  .modal-form-input:focus + .modal-form-field-icon {
    fill: #4d5ae5;
  }
  .modal-form-message {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 120px;
    resize: none;
    padding: 8px 16px;
    background-color: transparent;
    outline: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-form-message::placeholder {
    color: rgba(46, 47, 66, 0.4);
  }
  .modal-form-message:focus {
    border-color: #4d5ae5;
  }
  .modal-form-checkbox-lable {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
  }
  .modal-form-checkbox-wrapper {
    margin-bottom: 24px;
  }
  .modal-form-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
  }
  .modal-form-own-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-privacy-checkbox:checked
  + .modal-form-checkbox-label
  .modal-form-own-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
.modal-form-privacy-checkbox:focus
  + .modal-form-checkbox-lable
  .modal-form-own-checkbox {
  outline: 1px solid #4d5ae5;
}
.privacy-policy-link {
    text-decoration: underline;
    line-height: 1.33;
    color: #4d5ae5;
  }
  .modal-form-submit-btn {
    display: block;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #fff;
  }
  .modal-form-submit-btn:hover,
  .modal-form-submit-btn:focus {
    background-color: #404bbf;
  }
  .mobile-menu .backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop.mobile-menu {
    background: rgba(255, 255, 255, 1);
  }
  .mobile-menu-container {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100dvh;
    margin: auto;
    position: relative;
    padding: 72px 24px 40px 16px;
  }
  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: transparent;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-close-btn:hover,
  .mobile-menu-close-btn:focus {
    background-color: #404bbf;
    border: none;
  }
  .mobile-menu-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-close-btn:hover .mobile-menu-close-icon,
  .mobile-menu-close-btn:focus .mobile-menu-close-icon {
    fill: #fff;
  }
  .mobile-menu-nav-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 40px;
    margin-bottom: auto;
  }
  .mobile-menu-nav-list .nav-link {
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-nav-list .nav-link:hover,
  .mobile-menu-nav-list .nav-link:focus {
    color: #404bbf;
  }
  .mobile-menu-nav-list .current {
    color: #404bbf;
  }
  .mobile-menu-address {
    margin-bottom: 48px;
  }
  .mobile-menu-address-contact {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 24px;
  }
  .mobile-menu-address-contact .address-link {
    display: block;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-address-contact .address-link.current {
    color: #4d5ae5;
  }
  .mobile-menu-address-contact .address-link:hover,
  .mobile-menu-address-contact .address-link:focus {
    color: #4d5ae5;
  }
  .mobile-menu-social-list {
    display: flex;
    justify-content: space-between;
  }
  .mobile-menu-item-link {
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-item-link:hover,
  .mobile-menu-item-link:focus {
    background-color: #31d0aa;
  }
  .mobile-menu-item-link .icon {
    fill: #f4f4fd;
  }
  
  @media screen and (min-width: 768px) {
  .container {
     max-width: 768px;
  }  
  .header-nav {
    display: flex;
    align-items: center;
}
.nav-list-header {
    display: flex;
    gap: 40px;
}
.address {
    display: block;
   }
   .address-contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.logo {
    margin-right: 120px;
}
.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}
.current {
    position: relative;
    color: #404BBF;

}
.current::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404BBF;
    border-radius: 2px;
    height: 4px;
    width: 100%;

}
.address-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #434455;
    
}
.address-link:hover,
.address-link:focus {
    color: #404bbf; 
}
.main-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;

}
.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg-image-tab@1x.jpg);
    max-width: 768px;
    padding: 112px 0;
}
.benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;

}
.benefits-item {
    width: calc((100% - 24px) / 2);
} 
.team-section-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
}
.portfolio-list {
    display: flex;
    flex-direction: row;
    gap: 72px 24px;
    flex-wrap: wrap;
    }
    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }
    .footer-content {
        width: 264px;
    
    }
    .footer-container {
        max-width: calc(264px * 2 + 24px);
        flex-direction: row;
        gap: 72px 24px;
        align-items: baseline;
        flex-wrap: wrap;
    }
    .whole-footer .logo {
        margin-bottom: 16px;
        display: inline-block;
    }
    .media-text {
        justify-content: left;
    }
    .footer-social {
      width: 208px;
    }
    .footer-subscribe-text {
        text-align: left;
    }
    .footer-subscribe-form {
      flex-direction: row;
        gap: 24px;
    }
    .modal-window {
        width: 408px;
        padding: 72px 24px 24px;
    }
  }
  @media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
     }
     .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }  
    .address-contact {
        flex-direction: row;
        gap: 40px;
}
.logo {
    margin-right: 76px;
}
.address-link {
    font-size: 16px;
    line-height: 1.5;
}
.main-title {
 margin-bottom: 48px;

}
.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg-image-desk@1x.jpg);
    max-width: 1440px;
    padding: 188px 0;
}
.benefits-list {
    gap: 24px; 
}
.benefits-item {
    width: calc((100% - 72px) / 4);
} 
.icon-section {
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
  }
  .icon-section .icon {
    fill: #434455;
  }
  .benefits-title {
    line-height: 1.2;
}
.benefits-title-list {
    font-weight: 500;
    font-size: 20px;
    
}
.benefits-info {
    font-weight: 400;
}

    .section-team-list {
        display: flex;
        gap: 24px;
    }
    .team-list {
        width: calc((100% - 72px) / 4); 
        }
    .portfolio-list {
        gap: 24px;
        row-gap: 48px;
        }
        .portfolio-item {
            width: calc((100% - 48px) / 3);
        }
        .whole-footer {
            padding-top: 100px;
            padding-bottom: 100px;
            
            }   
            .footer-container {
                display: flex;
                align-items: baseline;
                flex-direction: row;
                flex-wrap: nowrap;
                gap: 0;
                max-width: 1158px;
            }
            .footer-content {
                width: 264px;
                margin-right: 120px;
            
            }
            .whole-footer .logo {
             display: inline-block;
            }
            .footer-social {
                margin-right: 80px;
            }
            .modal-form-input {
                padding-left: 38px;
            }

  }
  @media (min-device-pixel-ratio: 2) {
    .first-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-image-mob@2x.jpg);
    }
    @media screen and (min-width: 768px) {
      .first-section {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url(../images/hero-bg-image-tab@2x.jpg);
      }
    }
    @media screen and (min-width: 1158px) {
      .first-section {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url(../images/hero-bg-image-desk@2x.jpg);
      }
    }
  }